server:
  applicationConnectors:
    - type: http
      port: ${MARQUEZ_PORT:-5000}
      httpCompliance: RFC7230_LEGACY
  adminConnectors:
    - type: http
      port: ${MARQUEZ_ADMIN_PORT:-5001}

db:
  driverClass: org.postgresql.Driver
  url: jdbc:postgresql://${POSTGRES_HOST:-localhost}:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-marquez}
  user: ${POSTGRES_USER:-marquez}
  password: ${POSTGRES_PASS:-marquez}

migrateOnStartup: true

graphql:
  enabled: ${GRAPHQL_ENABLED:-false}

logging:
  level: INFO
  appenders:
    - type: console

search:
  enabled: ${SEARCH_ENABLED:-false}
  scheme: http
  host: ${SEARCH_HOST:-opensearch}
  port: ${SEARCH_PORT:-9200}
  username: ${SEARCH_USER:-admin}
  password: ${SEARCH_PASS:-admin}

tags:
  - name: PII
    description: Personally identifiable information
  - name: SENSITIVE
    description: Contains sensitive information
